:set relativenumber
:set number
:set ideajoin
:set hlsearch
:set scrolloff=10
:set showmode
:set showcmd
:set visualbell
:set clipboard+=unnamed
:set NERDTreeShowHidden
:set which-key
:set notimeout

nnoremap <esc> :noh<return><esc>

map <c-t> :NERDTree<CR>
let g:WhichKey_ShowVimActions = "true"

:set incsearch

Plug 'preservim/nerdtree'
" Highlight copied text
Plug 'machakann/vim-highlightedyank'
" Commentary plugin
Plug 'tpope/vim-commentary'


nnoremap <C-d> <C-d>zz
nnoremap <C-u> <C-u>zz
