:set relativenumber
:set number
:set ideajoin
:set hlsearch
:set incsearch
:set scrolloff=10
:set showmode
:set showcmd
:set visualbell
:set clipboard+=unnamed
:set NERDTreeShowHidden
:set which-key
:set notimeout
:set sneak
:set surround
:set easymotion

let mapleader=" "

map <leader>j <Plug>(easymotion-s)

nnoremap <leader>t :action ActivateTerminalToolWindow<CR>
nnoremap <leader>v :action MoveTabRight<CR>
nnoremap <leader>h :action MoveTabDown<CR>
nnoremap <leader>u :action Unsplit<CR>
nnoremap <leader>m :action MoveEditorToOppositeTabGroup<CR>

nnoremap <return> :action PreviousTab<CR>
nnoremap <delete> :action NextTab<CR>

sethandler <c-j> a:vim
sethandler <c-k> a:vim

nnoremap <c-j> :action Back<CR>
nnoremap <c-k> :action Forward<CR>

nnoremap <Leader>q :action CloseContent<CR>
nnoremap <Leader>qa :action CloseAllEditors<CR>

nnoremap <esc> :noh<return><esc>
nnoremap <Leader>l :action ReformatCode<CR>
nnoremap <leader>o :action OptimizeImports<CR>
nnoremap <leader>p :action SelectInProjectView<CR>
nnoremap <leader>k :action CheckinProject<CR>

nnoremap <leader>e :action RecentFiles<CR>
nnoremap <leader>f :action Find<CR>
nnoremap <leader><s-f> :action FindInPath<CR>
nnoremap <leader>r :action Run<CR>
nnoremap <leader>d :action Debug<CR>

nnoremap gi :action GotoImplementation<CR>
nnoremap gs :action GotoSuperMethod<CR>
nnoremap gu :action GotoDeclaration<CR>
nnoremap ge :action GotoNextError<CR>
nnoremap gE :action GotoPreviousError<CR>
nnoremap gn :action GotoClass<CR>
nnoremap gf :action GotoFile<CR>

map <c-t> :NERDTree<CR>
let g:WhichKey_ShowVimActions = "true"


Plug 'preservim/nerdtree'
" Highlight copied text
Plug 'machakann/vim-highlightedyank'
" Commentary plugin
Plug 'tpope/vim-commentary'


nnoremap <C-d> <C-d>zz
nnoremap <C-u> <C-u>zz
